/* CSS declarations go here */


html, body {
	height: 100%;
}
.wrapper{
	height: 100vh;
}
.btn-google {
    color: #fff;
    background-color: red;
    border-color: rgba(0,0,0,0.2);
}
.login-box .row{
	margin:0px;
}
.login-box .row .col-xs-8{
	padding-left:0px;
}
.login-box .row .col-xs-4{
	padding-right:0px;
}
.login-box .checkbox input[type="checkbox"]{
	position: relative;
	margin-left: 0px;
}
.login-box .checkbox label{
	padding-left: 0px
}
input.error{
    background-color:rgb(255, 231, 231);
}