<template name="action">
  {{#AdminLTE skin="blue"}}

  <script>
    

// Chart design based on the recommendations of Stephen Few. Implementation
// based on the work of Clint Ivy, Jamie Love, and Jason Davies.
// http://projects.instantcognition.com/protovis/bulletchart/
      d3.bullet = function() {
        var orient = "left", // TODO top & bottom
            reverse = false,
            duration = 0,
            ranges = bulletRanges,
            markers = bulletMarkers,
            measures = bulletMeasures,
            width = 380,
            height = 30,
            tickFormat = null;

        // For each small multiple…
        function bullet(g) {
          g.each(function(d, i) {
            var rangez = ranges.call(this, d, i).slice().sort(d3.descending),
                markerz = markers.call(this, d, i).slice().sort(d3.descending),
                measurez = measures.call(this, d, i).slice().sort(d3.descending),
                g = d3.select(this);

            // Compute the new x-scale.
            var x1 = d3.scale.linear()
                .domain([rangez[1],rangez[0]])
                .range(reverse ? [width, 0] : [0, width]);
            // Retrieve the old x-scale, if this is an update.
            var x0 = this.__chart__ || d3.scale.linear()
                .domain([0, Infinity])
                .range(x1.range());

            // Stash the new scale.
            this.__chart__ = x1;

            // Derive width-scales from the x-scales.
            var w0 = bulletWidth(x0),
                w1 = bulletWidth(x1);

            // Update the range rects.
            var range = g.selectAll("rect.range")
                .data(rangez);

            range.enter().append("rect")
                .attr("class", function(d, i) { return "range s" + i; })
                .attr("width", w0)
                .attr("height", height)
                .attr("x", reverse ? x0 : 0)
              .transition()
                .duration(duration)
                .attr("width", w1)
                .attr("x", reverse ? x1 : 0);

            range.transition()
                .duration(duration)
                .attr("x", reverse ? x1 : 0)
                .attr("width", w1)
                .attr("height", height);

            // Update the measure rects.
            var measure = g.selectAll("rect.measure")
                .data(measurez);

            measure.enter().append("rect")
                .attr("class", function(d, i) { return "measure s" + i; })
                .attr("width", w0)
                .attr("height", height / 3)
                .attr("x", reverse ? x0 : 0)
                .attr("y", height / 3)
              .transition()
                .duration(duration)
                .attr("width", w1)
                .attr("x", reverse ? x1 : 0);

            measure.transition()
                .duration(duration)
                .attr("width", w1)
                .attr("height", height / 3)
                .attr("x", reverse ? x1 : 0)
                .attr("y", height / 3);

            // Update the marker lines.
            var marker = g.selectAll("line.marker")
                .data(markerz);

            marker.enter().append("line")
                .attr("class", "marker")
                .attr("x1", x0)
                .attr("x2", x0)
                .attr("y1", height / 6)
                .attr("y2", height * 5 / 6)
              .transition()
                .duration(duration);

            marker.transition()
                .duration(duration)
                .attr("x1", x1)
                .attr("x2", x1)
                .attr("y1", height / 6)
                .attr("y2", height * 5 / 6);

            // Compute the tick format.
            var format = tickFormat || x1.tickFormat(8);

            // Update the tick groups.
            var tick = g.selectAll("g.tick")
                .data(x1.ticks(8), function(d) {
                  return this.textContent || format(d);
                });

            // Initialize the ticks with the old scale, x0.
            var tickEnter = tick.enter().append("g")
                .attr("class", "tick")
                .attr("transform", bulletTranslate(x0))
                .style("opacity", 1e-6);

            tickEnter.append("line")
                .attr("y1", height)
                .attr("y2", height * 7 / 6);

            tickEnter.append("text")
                .attr("text-anchor", "middle")
                .attr("dy", "1em")
                .attr("y", height * 7 / 6)
                .text(format);

            // Transition the entering ticks to the new scale, x1.
            tickEnter.transition()
                .duration(duration)
                .attr("transform", bulletTranslate(x1))
                .style("opacity", 1);

            // Transition the updating ticks to the new scale, x1.
            var tickUpdate = tick.transition()
                .duration(duration)
                .attr("transform", bulletTranslate(x1))
                .style("opacity", 1);

            tickUpdate.select("line")
                .attr("y1", height)
                .attr("y2", height * 7 / 6);

            tickUpdate.select("text")
                .attr("y", height * 7 / 6);

            // Transition the exiting ticks to the new scale, x1.
            tick.exit().transition()
                .duration(duration)
                .attr("transform", bulletTranslate(x1))
                .style("opacity", 1e-6)
                .remove();
          });
          d3.timer.flush();
        }

        // left, right, top, bottom
        bullet.orient = function(x) {
          if (!arguments.length) return orient;
          orient = x;
          reverse = orient == "right" || orient == "bottom";
          return bullet;
        };

        // ranges (bad, satisfactory, good)
        bullet.ranges = function(x) {
          if (!arguments.length) return ranges;
          ranges = x;
          return bullet;
        };

        // markers (previous, goal)
        bullet.markers = function(x) {
          if (!arguments.length) return markers;
          markers = x;
          return bullet;
        };

        // measures (actual, forecast)
        bullet.measures = function(x) {
          if (!arguments.length) return measures;
          measures = x;
          return bullet;
        };

        bullet.width = function(x) {
          if (!arguments.length) return width;
          width = x;
          return bullet;
        };

        bullet.height = function(x) {
          if (!arguments.length) return height;
          height = x;
          return bullet;
        };

        bullet.tickFormat = function(x) {
          if (!arguments.length) return tickFormat;
          tickFormat = x;
          return bullet;
        };

        bullet.duration = function(x) {
          if (!arguments.length) return duration;
          duration = x;
          return bullet;
        };

        return bullet;
      };

      function bulletRanges(d) {
        return d.ranges;
      }

      function bulletMarkers(d) {
        return d.markers;
      }

      function bulletMeasures(d) {
        return d.measures;
      }

      function bulletTranslate(x) {
        return function(d) {
          return "translate(" + x(d) + ",0)";
        };
      }

      function bulletWidth(x) {
        var x0 = x(0);
        return function(d) {
          return Math.abs(x(d) - x0);
        };
      }

      var margin = {top: 5, right: 40, bottom: 20, left: 120},
          width = 700 - margin.left - margin.right,
          height = 50 - margin.top - margin.bottom;

      var chart = d3.bullet()
          .width(width)
          .height(height);


      var svg_helmet = d3.select("#chart_helmet").selectAll("svg")
             .data([
        {"title":"Project revenue","subtitle":"US$","ranges":[715,805],"measures":[45,45 ,90],"markers":[785]},
        {"title":"Projected offer value","subtitle":"US$","ranges":[955,1135],"measures":[100,100,180],"markers":[1075]},
        {"title":"Project order size","subtitle":"US$","ranges":[955,1155],"measures":[150,150,200],"markers":[1105]},
        {"title":"Project number of new customers","subtitle":"in thousands","ranges":[955,1155],"measures":[135,180,200],"markers":[1090]}
      ])
          .enter().append("svg")
            .attr("class", "bullet")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(chart);

        var title = svg_helmet.append("g")
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + height / 2 + ")");

        title.append("text")
            .attr("class", "title")
            .text(function(d) { return d.title; });

        title.append("text")
            .attr("class", "subtitle")
            .attr("dy", "1em")
            .text(function(d) { return d.subtitle; });

        d3.selectAll("#change_helmet").on("click", function() {
          svg_helmet.datum(randomize).call(chart.duration(1000)); // TODO automatic transition
        });
      var svg_jacket = d3.select("#chart_jacket").selectAll("svg")
             .data([
        {"title":"Project revenue","subtitle":"US$","ranges":[715,805],"measures":[45,45 ,90],"markers":[785]},
        {"title":"Projected offer value","subtitle":"US$","ranges":[955,1135],"measures":[100,100,180],"markers":[1075]},
        {"title":"Project order size","subtitle":"US$","ranges":[955,1155],"measures":[150,150,200],"markers":[1105]},
        {"title":"Project number of new customers","subtitle":"in thousands","ranges":[955,1155],"measures":[135,180,200],"markers":[1090]}
      ])
          .enter().append("svg")
            .attr("class", "bullet")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(chart);

        var title = svg_jacket.append("g")
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + height / 2 + ")");

        title.append("text")
            .attr("class", "title")
            .text(function(d) { return d.title; });

        title.append("text")
            .attr("class", "subtitle")
            .attr("dy", "1em")
            .text(function(d) { return d.subtitle; });

        d3.selectAll("#change_jacket").on("click", function() {
          svg_jacket.datum(randomize).call(chart.duration(1000)); // TODO automatic transition
        });
      
var svg_upsell = d3.select("#chart_upsell").selectAll("svg")
           .data([
        {"title":"Project revenue","subtitle":"US$","ranges":[715,805],"measures":[45,45 ,90],"markers":[785]},
        {"title":"Projected offer value","subtitle":"US$","ranges":[955,1135],"measures":[100,100,180],"markers":[1075]},
        {"title":"Project order size","subtitle":"US$","ranges":[955,1155],"measures":[150,150,200],"markers":[1105]},
        {"title":"Project number of new customers","subtitle":"in thousands","ranges":[955,1155],"measures":[135,180,200],"markers":[1090]}
      ])
          .enter().append("svg")
            .attr("class", "bullet")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(chart);

        var title = svg_upsell.append("g")
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + height / 2 + ")");

        title.append("text")
            .attr("class", "title")
            .text(function(d) { return d.title; });

        title.append("text")
            .attr("class", "subtitle")
            .attr("dy", "1em")
            .text(function(d) { return d.subtitle; });

        d3.selectAll("#change_upsell").on("click", function() {
          svg_upsell.datum(randomize).call(chart.duration(1000)); // TODO automatic transition
        });
      
      function randomize(d) {
        if (!d.randomizer) d.randomizer = randomizer(d);
        d.ranges = d.ranges.map(d.randomizer);
        d.markers = d.markers.map(d.randomizer);
        d.measures = d.measures.map(d.randomizer);
        return d;
      }

      function randomizer(d) {
        var k = d3.max(d.ranges) * .2;
        return function(d) {
          return Math.min(1200, Math.max(900, d + k * (Math.random() - .5)));
        };
      }
  </script>
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">-SYNAPSE</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            <!-- Notifications Menu -->
            
            <!-- User Account: style can be found in dropdown.less -->
            <li>
               <a>COMPANY1</a>
            </li>
            <li class="logout">
              <a href="login">LOG OUT</a>
            </li>
          </ul>
        </div>
      </nav>
    </header> <!-- navbar -->

     <aside class="main-sidebar">
      <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
<!--        <div class="user-panel">
          <div class="pull-left image">
            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>admin</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div> -->

        <!-- search form (Optional) -->
        <!--<form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form>-->
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <!-- Optionally, you can add icons to the links -->
          <!--<li><a href="input"><i class="fa fa-link"></i> <span>Data</span></a></li>-->
          <li><a href="main"><i class="fa fa-home" aria-hidden="true"></i> <span>HOME</span></a></li>
          <li><a href="knowledge"><i class="fa fa-check" aria-hidden="true"></i> <span>KNOWLEDGE GRIDS</span></a></li>
          <li class="treeview">
            <a href="#"><i class="fa fa-list-ul"></i> <span>GRIDS</span>
              <span class="pull-right-container">
                <i class="fa fa-arrow-circle-o-down"  aria-hidden="true"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/churn">Churn</a></li>
              <li><a href="/lapse">Lapse</a></li>
              <li><a href="/influence">Influence</a></li>
              <li><a href="/target">Target</a></li>
            </ul>
          </li>
          <li class="active">
            <a href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i> <span>ACTION</span>
            <!--  <span class="pull-right-container">
                <i class="fa fa-arrow-circle-o-down"  aria-hidden="true"></i>
              </span>-->
            </a>
            <!--<ul class="treeview-menu">
              <li><a href="input">Upload Data</a></li>
              <li><a href="graph">Graphs</a></li>
              <li><a href="#">Parameters</a></li>
            </ul>-->
          </li>

        </ul>
        <!-- /.sidebar-menu -->
      </section>
    </aside>

    <div class="content-wrapper">
      <section class="content-header">
          <p><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a> / <a>Recommended Actions</a></p>
          <h1><b>Proscriptive Analytics and Recommendations</b></h1>
          
      </section>
      <section class="content linegraphsecs">
        <div class="linegraphsec actionp">
        <div class="graphtitle"><p>SELL HELMET CATEGORY</p></div>
        <div class="expimg"><img src="actiontype1.png"></div>
        <div id="chart_helmet">
        </div>
          <button class="btn btn-block btn-primary" id="change_helmet">Change Data</button>
        </div>

        <div class="linegraphsec actionp">
        <div class="graphtitle"><p>SELL JACKET CATEGORY</p></div>
        <div class="expimg"><img src="actiontype1.png"></div>
        <div id="chart_jacket">
        </div>
          <button class="btn btn-block btn-primary" id="change_jacket">Change Data</button>
        </div>

        <div class="linegraphsec actionp">
        <div class="graphtitle"><p>UPSELL HELMETS</p></div>
        <div class="expimg"><img src="actiontype2.png"></div>
        <div id="chart_upsell">
        </div>
          <button class="btn btn-block btn-primary" id="change_upsell">Change Data</button>
        </div>

      </section>
    </div>
    <!-- /.content-wrapper -->
  </div> <!-- wrapper -->

  {{/AdminLTE}}
</template>
