<template name="main1">
  {{#AdminLTE skin="blue"}}
  
	<div id="chart_intandact" style="float:left;width:50%;">
	    <svg style="width:100%;height:500px;"></svg>
	  	<button id="add_intandact">Add data</button>
		<button id="remove_intandact">Remove data</button>
		<button id="show_intandact">Show data</button>
	</div>
	<div id="chart_engagement"  style="float:left;width:50%">
	    <svg style="width:100%;height:500px;"></svg>
		<button id="add_engagement">Add data</button>
		<button id="remove_engagement">Remove data</button>
		<button id="show_engagement">Show data</button>
	</div>

  {{/AdminLTE}}
</template>